<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Create New Customer</title>
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body>
<div align="center">
    <a href="/">Avaleht</a>
    <a href="/newevent">Ürituse lisamine</a>

</div>
<div align="center">
    <div><h1>Osavõtja info</h1></div>

    <br />
    <form action="#" th:action="@{/editettevotteosalus}" th:object="${osalus}"
          method="post">
        <input type="hidden" th:field="*{id}" th:value="${osalus.id}" />
        <input type="hidden" th:field="*{isik}" th:value="${osalus.isik}"/>
        <table border="0" cellpadding="10">
            <tr>
                <td>Juriidiline nimi:</td>
                <td><input type="text" th:field="*{juriidilinenimi}" />
                </td>
            </tr>

            <tr>
                <td>Registrikood:</td>
                <td><input type="text" th:field="*{registrikood}" />
                </td>
            </tr>
            <tr>
                <td>Tulijate arv:</td>
                <td><input type="text" th:field="*{tulijatearv}" />
                </td>
            </tr>
            <tr>
                <td>Makseviis:</td>
                <td>
                    <select th:field="*{makseviisid}" id="makseviis" name="makseviis">
                        <option th:utext="${osalus.makseviisinimetus}" th:value="${osalus.makseviisid}"/>

                        <th:block th:each="makseviis: ${makseviisList}">

                            <option th:utext="${makseviis.nimetus}" th:value="${makseviis.id}" />

                        </th:block>
                    </select>
                </td>
            </tr>



            <tr>
                <td>Lisainfo:</td>
                <td><input type="text" th:field="*{lisainfo}" />
                </td>
            </tr>

            <tr>
                <td></td>
                <td colspan="2"><button type="submit">Salvesta</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>