<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Lisa uus osaleja</title>
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body>
<div align="center">
    <div ><h1>Lisa uus isik</h1></div>

    <br />
    <form action="#" th:action="@{/savecustomer}" th:object="${osalus}"
          method="post">

        <input type="hidden" th:field="*{yritus.id}" th:value="${osalus.yritus.id}" />

        <ul>
            <li th:each="ty : ${listTyyp}">
                <input type="radio" th:field="*{isik.tyyp}" th:value="${ty.id}" th:onclick="clickAction(value)"/>
                <label th:for="${#ids.prev('isik.tyyp')}" th:text="${ty.nimetus}">Wireframe</label>
            </li>
        </ul>

        <div id="eraisikuvorm">
        <table border="0" cellpadding="10" >
                <tr>
                    <td>Eesnimi:</td>
                    <td><input type="text" th:field="*{isik.eraisik.eesnimi}" />

                    </td>
                </tr>
            <tr>
                <td></td>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
        </div>
        <div id="firmavorm">
            <table border="0" cellpadding="10" >
                <tr>
                    <td>Juriidiline Nimi:</td>
                    <td><input type="text" th:field="*{isik.ettevote.juriidilinenimi}" />

                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </div>

    </form>
</div>
<script>
    function clickAction(value){

        if(value == 1){
            alert("Eraisik");
            document.getElementById("firmavorm").style.display = "none";
        }

        if(value == 2){
            alert("Ettevõte");
            document.getElementById("eraisikuvorm").style.display = "none";
        }

    }
</script>
</body>
</html>